@charset "utf-8";
/*** common ***/
html {
  overflow-y: scroll;
}

body {
  margin: 0;
  color: #333333;
  background: #d9ebcf;
  font-size: 13px;
  line-height: 1.4;
  font-family: arial, sans-serif;
}

body,
input,
select,
button,
textarea,
.ui-widget {
  font-family: "メイリオ", Meiryo, "Lucida Grande", Verdana,
    "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro";
}

table {
  table-layout: fixed;
}

a,
a:visited,
a:active {
  color: #076ab6;
  text-decoration: underline;
}

a:hover {
  color: #076ab6;
  text-decoration: underline;
}

strong {
  font-weight: bold;
}

h1 {
  border: 1px solid #147543;
  border-width: 0 0 0 4px;
  width: 942px;
  margin: 0 auto 10px auto;
  height: 20px;
  line-height: 20px;
  font-size: 18px;
  font-weight: bold;
  padding-left: 13px;
}

.pankuzu {
  width: 942px;
  margin: 0 auto 10px auto;
}

.placeholder {
  color: #aaa;
}

.clear {
  clear: both;
}

input:not([type]),
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
input[type="search"] {
  border: 1px solid #999;
  padding: 3px 6px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1) inset;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 3px 0;
}

textarea {
  font-family: arial, sans-serif;
  width: 400px;
  height: 80px;
  border: 1px solid #999;
  padding: 5px 10px;
  background: #fff;
  font-size: 13px;
  border-radius: 4px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1) inset;
}

input:focus,
textarea:focus {
  background: #fffacd;
}

a.button,
button {
  display: inline-block;
  #display: inline; /* for IE6,7 */
  #zoom: 1; /* for IE6,7 */
  position: relative;

  margin: auto;
  text-decoration: none;
  text-align: center;
  color: #fff;
  border: 1px solid #9c9c9c;

  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);

  box-shadow: 1px 1px 0.2em rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 0.2em rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 1px 1px 0.2em rgba(0, 0, 0, 0.4);

  -moz-border-radius: 0.3em;
  border-radius: 0.3em;

  background: #4477a1;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#81a8cb),
    to(#4477a1)
  );
  background: -moz-linear-gradient(-90deg, #81a8cb, #4477a1);
  background: -o-linear-gradient(-90deg, #81a8cb, #4477a1);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#81a8cb', endColorstr='#4477a1');
}

a.button:hover,
button:hover {
  background: #81a8cb;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#4477a1),
    to(#81a8cb)
  );
  background: -moz-linear-gradient(-90deg, #4477a1, #81a8cb);
  background: -o-linear-gradient(-90deg, #4477a1, #81a8cb);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4477a1', endColorstr='#81a8cb');
}

a.button:active,
button:active {
  position: relative;
  top: 1px;

  background: #4477a1;
  box-shadow: 1px 1px 0.1em rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 0.1em rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 1px 1px 0.1em rgba(0, 0, 0, 0.4);
}

::-moz-selection {
  background: #1e90ff;
}

::selection {
  background: #1e90ff;
}

/*** container ***/
.main_container {
  width: 980px;
  background: #ffffff;
  margin: 0 auto;
  position: relative;
}

.center_container {
  width: 942px;
  margin: 0 auto;
  position: relative;
}

.title_container {
  position: relative;
  margin: 0 auto 01px auto;
  width: 942px;
}

/*** ヘッダ ***/
header {
  position: relative;
  margin: auto;
  width: 100%;
  height: 97px;

  background: rgb(255, 255, 255); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 1%,
    rgba(227, 222, 194, 1) 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(1%, rgba(255, 255, 255, 1)),
    color-stop(100%, rgba(227, 222, 194, 1))
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 1%,
    rgba(227, 222, 194, 1) 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 1%,
    rgba(227, 222, 194, 1) 100%
  ); /* Opera11.10+ */
  background: -ms-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 1%,
    rgba(227, 222, 194, 1) 100%
  ); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e3dec2',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(
    top,
    rgba(255, 255, 255, 1) 1%,
    rgba(227, 222, 194, 1) 100%
  ); /* W3C */
}

div.description {
  width: 942px;
  margin: 8px auto;
}

.header_mypage {
  position: relative;
  width: 100%;
  height: 28px;
  margin: 0 0 8px 0;
  background: #29866b;
  font-size: 14px;
  color: #ffffff;
  z-index: 200;
}

.header_mypage span {
  display: block;
  position: absolute;
  height: 20px;
  line-height: 20px;
  top: 4px;
  right: 150px;
}

a.header_logo {
  display: block;
  position: absolute;
  top: 12px;
  left: 42px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2;
  text-decoration: none;
  color: #333;
}

header .discription {
  display: block;
  position: absolute;
  top: 20px;
  left: 200px;
  width: 500px;
  height: 100px;
  padding-left: 100px;
  background: url("../imgs/catalog_mascot.png") no-repeat;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.4;
  color: #333;
  z-index: 300;
}

header .header_title {
  position: absolute;
  left: 300px;
  top: 40px;
  font-weight: bold;
  font-size: 40px;
}

header .header_title,
header .discription {
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
}

header .sitemap_menu {
  display: block;
  position: absolute;
  top: 16px;
  right: 0;
}

header .sitemap_menu a {
  display: inline-block;
  #display: inline; /* for IE6,7 */
  #zoom: 1; /* for IE6,7 */
  margin-right: 14px;
  text-indent: 14px;
  text-decoration: underline;
  background: url("../imgs/link_arrow_o.png") 0 2px no-repeat;
}

header .header_menu {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 400;
}

header .header_menu a {
  display: inline-block;
  #display: inline; /* for IE6,7 */
  #zoom: 1; /* for IE6,7 */
  background: #dddddd;
  margin: 0 6px 0 0;
  border: 2px solid #29866b;
  border-bottom: 0;
  width: 86px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: #333333;
  font-size: 14px;
  text-decoration: none;
  bottom: 0;
  right: 0;
}

header .header_menu a.selected {
  background: #29866b;
  color: #ffffff;
}

/*** メッセージ枠 ***/
.message {
  width: 700px;
  padding: 10px 16px;
  margin: 16px auto;
  border: 1px dotted #88f;
  background: #eef;
  color: #33f;
  font-weight: bold;
}

.error_mes {
  width: 700px;
  padding: 10px 16px;
  margin: 16px auto;
  border: 1px dotted #f88;
  background: #fee;
  color: #f33;
  font-weight: bold;
}

/*** マイリストメニュー ***/
.mylist_menu ul {
  display: none;
  top: 20px;
  right: 0;
  background: #eee;
  border: 1px solid #999;
  width: 200px;
  box-shadow: 3px 3px 3px #666;
}

.header_member_menu {
  position: relative;
  width: 100%;
  height: 28px;
  margin: 0 0 15px 0;
  background: #29866b;
  font-size: 14px;
  color: #ffffff;

  z-index: 200;
}
.mylist_menu:hover ul {
  display: block;
  position: absolute;
}

.mylist_menu li {
  width: 200px;
  margin: auto;
  font-size: 14px;
  height: 24px;
  line-height: 24px;
  padding: 0 8px;
  list-style: none;
}

.mylist_menu {
  display: block;
  position: absolute;
  width: 100px;
  top: 4px;
  right: 32px;
}

.mylist_menu a.mylist {
  display: block;
  text-align: center;
  width: 100%;
  height: 20px;
  line-height: 20px;
  color: #29866b;
  text-decoration: none;
  background: white;
}

.mylist_menu a.menu_list {
  display: block;
  text-align: center;
  width: 100%;
  height: 20px;
  line-height: 20px;
  color: #29866b;
  text-decoration: none;
  background: #fff;
}

.mylist_menu li a {
  display: inline;
  position: static;
  text-decoration: none;
  text-align: left;
  width: 200px;
  height: 24px;
  line-height: 24px;
  background: #eee;
}

/*** フッタ ***/
footer {
  margin: 10px 0 0 0;
  width: 100%;
  height: 30px;

  background: rgb(255, 255, 255); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 1%,
    rgba(227, 222, 194, 1) 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(1%, rgba(255, 255, 255, 1)),
    color-stop(100%, rgba(227, 222, 194, 1))
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 1%,
    rgba(227, 222, 194, 1) 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 1%,
    rgba(227, 222, 194, 1) 100%
  ); /* Opera11.10+ */
  background: -ms-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 1%,
    rgba(227, 222, 194, 1) 100%
  ); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e3dec2',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(
    top,
    rgba(255, 255, 255, 1) 1%,
    rgba(227, 222, 194, 1) 100%
  ); /* W3C */
}

img.footer_title {
  display: block;
  margin: auto;
}

footer .copyright {
  display: inline-block;
  margin: auto;
  height: 30px;
  vertical-align: middle;
}

/*** ページャ ***/
div.pager {
  width: 760px;
  margin: 0 8px;
  line-height: 24px;
  float: left;
}

div.pager:after {
  clear: both;
}

div.pager span.list {
  margin-left: 32px;
}

div.pager .list .num,
div.pager .list .next,
div.pager .list .prev {
  display: inline-block;
  /display: inline; /* for IE6,7 */
  /zoom: 1; /* for IE6,7 */
  margin: 0 1px;
  height: 24px;
  line-height: 24px;
  text-align: center;
}

div.pager .list .num {
  width: 20px;
}

div.pager .list .next,
div.pager .list .prev {
  width: 36px;
}

/*** sample bbs ***/
a.sample_bbs {
  display: blank;
  position: absolute;
  top: 0;
  right: 0;
  width: 240px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: #fee;
  color: #076ab6;
  border: 3px double #f88;
  border-width: 0 0 3px 3px;
  border-radius: 0 0 0 16px;
  font-size: 16px;
  font-weight: bold;
  z-index: 3000;
  behavior: url(PIE.htc);
}

/*** ヘッダタイトル部分 ***/
.title_container h1 {
  display: inline;
}

.title_container .count_area {
  display: inline-block;
  #display: inline; /* for IE6,7 */
  #zoom: 1; /* for IE6,7 */
  line-height: 20px;
  height: 20px;
  vertical-align: middle;
}

/*** 型式で検索 ***/
.model_area {
  display: block;
  position: absolute;
  width: 400px;
  border: 0;
  z-index: 400;
  top: 10px;
  left: 400px;
}

.model_area input.model {
  display: inline;
  width: 160px;
  margin: 0px;
  border: 1px inset #999;
}

.model_area .submit {
  width: 80px;
  height: 22px;
  vertical-align: bottom;
  font-weight: bold;
}

.count_area {
  width: 200px;
}

.catalog_count {
  display: inline-block;
  width: 42px;
  text-align: right;
  font-size: 16px;
  font-weight: bold;
  color: #ff2819;
  margin: 0 3px;
}
