@charset "utf-8";

/*** CSVテーブル ***/
table.list {
  width: 100%;
  margin: 0 auto;
}

table.list td,
table.list th {
  padding: 2px;
  border: 1px dotted #bbb;
  vertical-align: middle;
  background: #fff;
}

table.list th {
  text-align: center;
  color: #efe;
  background: #040;
}

table.list th a:visited,
table.list th a {
  color: #efe;
  text-decoration: none;
  border-bottom: 1px dotted #efe;
}

table.list tr:nth-child(even) td {
  background: #efe;
}

table.list tr:hover td {
  background: #ffffad;
}

table.list .no,
table.list .capacity,
table.list .price {
  width: 50px;
}

table.list .id,
table.list .imgs,
table.list .year {
  width: 40px;
}

table.list .bid_machine_id {
  width: 60px;
  text-align: center;
}

table.list .b2m {
  width: 50px;
  text-align: center;
}

table.list .list_no {
  width: 60px;
  text-align: center;
}

table.list td.list_no {
  font-size: 19px;
}

table.list .name {
  width: 180px;
}

table.list .genre,
table.list .maker,
table.list .model {
  width: 72px;
}

table.list td.id,
table.list td.no,
table.list td.capacity,
table.list td.year,
table.list td.price {
  text-align: right;
}

table.list .uid {
  width: 30px;
}

table.list .check {
  width: 24px;
}

table.list .img {
  width: 60px;
  padding: 0;
  text-align: center;
}

/* table.list .img img {
  width: 60px;
} */

table.list .img img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

table.list .genre_id {
  display: none;
}

table.list .commission,
table.list .view_option {
  width: 38px;
}

table.list .created_at {
  width: 120px;
}

table.list .user_name {
  width: 150px;
}

table.list td.check,
table.list td.commission,
table.list td.view_option,
table.list td.uid {
  text-align: center;
}

img.thumbnail {
  max-width: 60px;
  max-height: 60px;
}

/* ボタンデフォルトをリセット */
.center_container button:not(.btn) {
  box-shadow: none;
  text-shadow: none;
  color: #000;
  background: #0dcaf0;
  border-color: #0dcaf0;
  width: auto;
}

.center_container button:hover:not(.btn) {
  color: #000;
  background: #31d2f2;
  border-color: #25cff2;
}

.center_container button:active:not(.btn) {
  top: auto;
}
/*** 検索エリア ***/
#company_list_form {
  display: inline-block;
}

.center_container button.company_list_submit {
  width: 60px;
  margin: 0 8px;
}

select.genre_id,
select.maker {
  width: 150px;
}

input.keyword_search {
  width: 150px;
}

fieldset.search {
  width: 640px;
  border: 1px solid #aaa;
  margin: 2px auto;
  padding: 4px 8px;
  border-radius: 8px;
}

/*** ユーザ一覧 ***/
table.list .role,
table.list .changed_at {
  width: 160px;
}

table.list.user .company {
  width: 240px;
}

/*** 入札会出品枠 ***/
table.list .bid {
  width: 200px;
}

input.min_price {
  width: 120px;
  text-align: right;
}

button.bid_entry {
  width: 60px;
}

table.list .id {
  width: 50px;
}

table.list .result_price {
  width: 100px;
}

table.list .same_count {
  text-align: center;
  width: 30px;
}

table.list td.id,
table.list td.min_price,
table.list td.result_price {
  text-align: right;
}

table.list .company_min {
  width: 80px;
}

.others {
  display: inline-block;
}

/*** 入札 ***/
.bid_true {
  color: #c00;
  font-weight: bold;
}

.bid_false {
  color: #00c;
  font-weight: bold;
}

.title,
.organizer {
  width: 160px;
}

.entry_start_date {
  width: 128px;
}

.condition {
  width: 80px;
  text-align: center;
}

/*** 入札会案内 ***/
.bid_open {
  border: 1px dotted #147543;
  margin: 6px auto;
  padding: 3px;
  width: 580px;
}

fieldset.id_search {
  float: left;
  width: 220px;
  margin: auto;
}

.bid_open p {
  margin: 4px 0;
}

.bid_open h3 {
  font-size: 15px;
  margin-top: 6px;
}

/*** 会社情報 ***/
table.list .company {
  width: 140px;
}

table.list .region {
  width: 70px;
}

table.list .representative {
  width: 100px;
}

table.list .tel {
  width: 112px;
}

table.list .mail {
  width: 120px;
  word-wrap: break-word;
}

table.list .website {
  width: 40px;
  text-align: center;
}

table.list th.login,
table.list td.login {
  width: 88px;
  text-align: center;
}

button.login {
  width: 80px;
}

table.list th.groups {
  text-align: left;
  border-style: dotted;
}

table.list td.min_price,
table.list th.min_price {
  width: 72px;
}

table.list .charge,
table.list .comment {
  width: 100px;
}

table.list .same_count,
table.list .res {
  width: 30px;
  text-align: center;
}

table.list tr:nth-child(even) td.blank,
table.list tr:nth-child(odd) td.blank,
table.list td.blank {
  background: #fff;
  border-style: solid;
  border-width: 1px 0 0 0;
}

div.table_area {
  width: 100%;
  overflow: scroll;
  border: 1px solid #777;
  margin-bottom: 6px;
  height: calc(100vh - 240px);
}

table.list th.sepa,
table.list td.sepa {
  border-left-style: solid;
}

table.list th.sepa2,
table.list td.sepa2 {
  border-left-style: double;
  border-left-width: 3px;
}

/* 削除ボタン */
table.list th.delete,
table.list td.delete {
  width: 50px;
  text-align: center;
}

button.delete:not(.btn) {
  font-size: 11px;
  height: 19px;
  line-height: 15px;
  text-align: center;
  background: #dc3545;
  border-color: #dc3545;
  box-shadow: none;
  text-shadow: none;
  color: #fff;
}

button.delete:hover:not(.btn) {
  background: #bb2d3b;
  border-color: #b02a37;
}

/*** 会員ランク ***/
td.rank,
th.rank {
  width: 50px;
}

.rank-200 {
  color: red;
}
.rank-100 {
  color: blue;
}

table.list .company {
  width: 80px;
}

table.list .uniq_account {
  width: 92px;
}

table.list th.system_button,
table.list td.system_button {
  width: 50px;
  text-align: center;
}

table.list th.cancel,
table.list td.cancel {
  width: 70px;
}

table.list th.auto,
table.list td.auto {
  width: 50px;
}

table.list td.cancel {
  text-align: center;
}

table.list td.auto {
  text-align: center;
}

a.cancel:not(.btn),
button.cancel:not(.btn) {
  font-size: 11px;
  height: 19px;
  line-height: 17px;
  text-align: center;
  background: #f0ad4e;
  border: #eea236;
  color: #333;
  box-shadow: none;
  text-shadow: none;
}

a.auto:not(.btn),
button.auto:not(.btn) {
  font-size: 11px;
  height: 19px;
  text-align: center;
  background: #f0ad4e;
  border: #eea236;
  color: #333;
  box-shadow: none;
  text-shadow: none;
}

a.btn-trade,
button.btn-trade {
  font-size: 11px;
  padding: 2px 6px;
  text-align: center;
  box-shadow: none;
  text-shadow: none;
}

a.cancel:hover:not(.btn),
button.cancel:hover:not(.btn) {
  background-color: #ffca2c;
  border-color: #ffc720;
}

a.auto:hover:not(.btn),
button.auto:hover:not(.btn) {
  background-color: #ffca2c;
  border-color: #ffc720;
}

button.auto_delete:not(.btn) {
  background-color: #6c757d;
  border-color: #6c757d;
  color: #fff;

  font-size: 11px;
  height: 19px;
  box-shadow: none;
  text-shadow: none;
}

a.auto_delete:hover:not(.btn),
button.auto_delete:hover:not(.btn) {
  background-color: #5c636a;
  border-color: #565e64;
  color: #fff;
}

button.cancel_delete:not(.btn) {
  font-size: 11px;
  height: 19px;
  box-shadow: none;
  text-shadow: none;
}

button.auto_bid_delete:not(.btn) {
  background-color: #6c757d;
  border-color: #6c757d;
  color: #fff;

  font-size: 11px;
  height: 19px;
  box-shadow: none;
  text-shadow: none;
}

button.auto_bid_delete:hover:not(.btn) {
  background-color: #5c636a;
  border-color: #565e64;
  color: #fff;
}

table.list tr.canceled td {
  background: pink;
}

table.list th.location,
table.list td.location {
  width: 80px;
}

table.list tr.deleted td {
  background: #eee;
  color: #777;
}

/*** お問い合わせテーブル ***/
table.list .target {
  width: 150px;
}

table.list.contacts .mail {
  width: 180px;
}
table.list.contacts .created_at {
  width: 150px;
}

table.list td.num,
table.list th.num {
  width: 42px;
}

table.list td.num {
  text-align: right;
}

table.list th {
  font-size: 0.75rem;
  padding: 2px 0;
}
