@charset "utf-8";

/*** フォーム要素 ***/
.form_comment {
  width: 720px;
}

table.form {
  width: 720px;
}

table.form th {
  width: 180px;
  padding: 8px;
}

span.memberonly {
  color: #00e;
}

span.required {
  color: #ee0;
}

/* 会社情報 */
table.form td input.zip {
  width: 90px;
}

table.form td input.mail,
table.form td input.website,
table.form td input.address {
  width: 300px;
}

table.form td input.tel,
table.form td input.fax {
  width: 180px;
}

table.form td input[type="number"] {
  text-align: right;
  width: 120px;
}

table.form td textarea {
  width: 484px;
  height: 4.6rem;
}

/* 営業所 */
.office {
  background: #efe;
  border: #060 1px solid;
  border-radius: 4px;
  margin: 4px;
  padding: 4px;
  position: relative;
}

table.form td .addr1 {
  width: 74px;
}

table.form td .addr2 {
  width: 128px;
}

table.form td .addr3 {
  width: 238px;
}

button#offices_add {
  width: 150px;
}

button.zip2address {
  width: 100px;
}

.office a.delete {
  position: absolute;
  top: 4px;
  right: 4px;
}

.office a.delete span {
  padding: 2px 4px;
}

.office_template {
  display: none;
}

/* 在庫機械情報 */
table.form td input.number,
table.form td input.name,
table.form td input.maker,
table.form td input.model,
table.form td input.location,
table.form td input.degree {
  width: 170px;
}

table.form td input.capacity {
  width: 60px;
  text-align: right;
}

table.form td input.number {
  width: 112px;
  text-align: right;
}

table.form td input.mininum {
  width: 36px;
  text-align: right;
}

table.form td input.accessory {
  width: 484px;
}

table.form td input.shipping_comment {
  width: 484px;
}

table.form td input.youtube {
  width: 484px;
}

table.form td input.text,
table.form .others input.combo {
  width: 112px;
}

.capacity td .unit,
.capacity td input {
  display: inline-block;
}

.maker_area {
  width: 170px;
  height: 24px;
  position: relative;
}

/* 共通 */
select {
  border: 1px solid #999;
  padding: 3px 6px;
  background: white;
  border-radius: 4px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1) inset;
}

textarea {
  overflow-y: scroll;
}

table.form td input.name[readonly="readonly"] {
  border-color: transparent;
  background: transparent;
  box-shadow: none;
  color: #333;
  width: 360px;
}

table.form td input[type="checkbox"],
table.form td input[type="radio"] {
  background: transparent;
  border: 0;
  box-shadow: none;
}

/*** その他能力 ***/
div.others {
  min-height: 26px;
}

.others_label,
.others_unit {
  display: inline-block;
  width: 120px;
  text-align: left;
  vertical-align: middle;
  padding: 0 3px;
}

.others_unit {
  width: 50px;
}

.catalog_list {
  display: none;
}

.catalog_list table {
  width: 640px;
  border: 1px solid #999;
  background: #fff;
}

.catalog_list table th {
  border: 1px solid #999;
  color: #fff;
  background: maroon;
  text-align: center;
  vertical-align: middle;
  padding: 2px;
}

.catalog_list table td {
  border: 1px solid #999;
  text-align: left;
  vertical-align: middle;
  padding: 2px;
}

.catalog_list table .maker,
.catalog_list table .year {
  width: 100px;
}

.catalog_list table .img {
  width: 60px;
  padding: 0;
}

button.catalog_select {
  width: 56px;
}

.catalog_tumbnail {
  width: 60px;
}

.model_label {
  display: inline-block;
  width: 140px;
  text-align: left;
  vertical-align: middle;
  padding: 0 3px;
}

.catalog_area {
  display: inline-block;
  width: 200px;
  vertical-align: middle;
  padding: 0 3px;
}

input.catalog_id {
  width: 120px;
  text-align: right;
}

table.form td input.location {
  display: inline-block;
  width: 140px;
}

table.form td input.location_address {
  display: inline-block;
  width: 240px;
  margin-left: 2px;
}

input.lat,
input.lng {
  text-align: right;
  width: 130px;
}

/*** 画像のアップロード ***/
.upload {
  width: 500px;
  height: 28px;
  border: 0;
  background: transparent;
}

.upload_img div.img {
  display: inline-block;
  margin: 4px 8px;
}

.upload_img img {
  width: 60px;
}

.upload_pdf .pdf a {
  padding-right: 6px;
}

/*** オートコンプリート枠 ***/
ul.ui-autocomplete {
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.4);
  background: #fff;
}

input.date {
  width: 110px;
}

input.time {
  width: 60px;
}

input.file {
  width: 220px;
}

.dd_message {
  padding: 4px;
}

table.form td input.highlight,
table.form td textarea.highlight {
  background: #ffccff;
}

.seri_sepa {
  position: absolute;
  right: 304px;
  top: 14px;
}

.seri_yen {
  position: absolute;
  right: 16px;
  top: 14px;
}

table.form td input.is_seri {
  position: absolute;
  right: 272px;
  top: 19px;
}

table.form td .seri_label {
  position: absolute;
  right: 176px;
  top: 18px;
}

table.form td input.seri_price {
  position: absolute;
  right: 36px;
  top: 13px;
}

table.form td input.seri_price:disabled {
  background: #eee;
}

div.uid {
  width: 720px;
  margin: 4px auto;
  background: #ff7;
  padding: 3px;
}

button.catalog_search {
  width: 100px;
}

.catalog_farea {
  width: 240px;
}

button.machine_search {
  width: 240px;
}

.first_area {
  width: 740px;
  padding: 16px;
  border: 1px solid #333;
  margin: 16px auto;
}

.first_area h2 {
  margin: 16px 2px 3px 2px;
  font-size: 15px;
}

.first_area ol li {
  width: 680px;
  margin: 4px auto;
}

.first_area p {
  margin: 4px;
}

.first_area table td {
  padding: 4px;
}

button.submit {
  width: auto;
  height: auto;
  padding: 8px 64px;

  color: #fff;
  background: #0d6efd;
  border-color: #0d6efd;
  box-shadow: none;
  text-shadow: none;
}
button.submit:hover {
  color: #fff;
  background: #0b5ed7;
  border-color: #0a58ca;
}

table.result {
  width: 360px;
  margin-left: 80px;
  float: left;
}

table.result td {
  text-align: right;
}

dl.total {
  width: 360px;
  margin: 15px auto 15px 520px;
}

dl.total dt {
  display: inline-block;
  width: 176px;
  text-align: left;

  font-size: 15px;
}

dl.total dd {
  display: inline-block;
  width: 176px;
  text-align: right;

  font-size: 15px;
}

dl.total dt.result,
dl.total dd.result {
  font-weight: bold;
  margin-top: 15px;
  border-top: 1px solid #333;
}

span.alert {
  color: red;
  font-weight: bold;
}

.feetable_area h2 {
  margin: 16px 2px 3px 2px;
  font-size: 15px;
}

.fee_calc {
  background: #e0fff0;
  border: 1px dotted #60fff0;
  width: 640px;
  margin: 4px 32px;
  padding: 12px 24px;
  line-height: 1.6;
}

table.fee_table {
  margin: 4px 32px;
  border: 1px solid #666;
}

table.fee_table th,
table.fee_table td {
  border: 1px solid #666;
  padding: 3px 8px;
  text-align: center;
  vertical-align: middle;
}

table.fee_table th {
  background: #d0f07f;
}

table.fee_table td.min_price {
  text-align: left;
  background: #ffe090;
}

button.calc {
  width: 60px;
}

div.arrow {
  font-size: 32px;
  font-weight: bold;
  width: 32px;
  margin: 8px 200px;
}

/********/
table.calc_table {
  margin: 4px 0;
}

table.calc_table th,
table.calc_table td {
  border: 1px solid #666;
  padding: 3px 4px;
  vertical-align: middle;
}

table.calc_table th {
  background: #d0f07f;
  text-align: center;
}

table.calc_table td {
  text-align: right;
}

table.calc_table th.final,
table.calc_table td.final {
  border-left: 3px double #666;
}

table.calc_table td.blank {
  border: 0;
}

table.calc_table.result th,
table.calc_table.result td {
  width: 100px;
}

table.calc_table.result th.fee,
table.calc_table.result td.fee {
  width: 140px;
}

table.calc_table.result td.final.payment,
table.calc_table.result td.final.billing {
  font-size: 15px;
}

table.fee_table td.min_price {
  text-align: left;
  background: #ffe090;
}

button.calc {
  width: 60px;
}

div.arrow {
  font-size: 32px;
  font-weight: bold;
  width: 32px;
  margin: 8px 200px;
}

/********/
table.calc_table {
  margin: 4px 0;
}

table.calc_table th,
table.calc_table td {
  border: 1px solid #666;
  padding: 3px 4px;
  vertical-align: middle;
}

table.calc_table th {
  background: #d0f07f;
  text-align: center;
}

table.calc_table td {
  text-align: right;
}

table.calc_table th.final,
table.calc_table td.final {
  border-left: 3px double #666;
}

table.calc_table td.blank {
  border: 0;
}

table.calc_table.result th,
table.calc_table.result td {
  width: 100px;
}

table.calc_table.result th.fee,
table.calc_table.result td.fee {
  width: 140px;
}

table.calc_table.result td.final.payment,
table.calc_table.result td.final.billing {
  font-size: 15px;
}

/*** ポップアップ用 ***/
/* html {
  overflow: auto;
}

body {
  background: #fff;
  margin: 8px;
}

h1 {
  width: 800px;
} */

button.close {
  display: block;
  margin: 20px auto 0;
}

.others {
  display: inline-block;
}

table.spec.form {
  width: 442px;
}

table.spec.form th {
  background: #556b2f;
  width: 118px;
}

a.contact {
  margin-left: 16px;
}

table.form td {
  position: relative;
  padding: 8px;
}

button.bid {
  display: block;
  width: 140px;
  font-size: 15px;
  margin: 4px auto;
}

table.form td input.amount {
  font-size: 18px;
  width: 140px;
}

table.form td textarea.cancel_comment {
  height: 12.6em;
}

table.form td.list_no {
  font-size: 19px;
}

.form_comment ul {
  list-style-type: square;
}

.form_comment ul li {
  margin: 4px 0;
}
