@charset "utf-8";

button.submit {
  width: auto;
  height: auto;
  padding: 8px 64px;
}

input#zip {
  width: 150px;
  display: inline-block;
}

button#zip_search {
  width: 150px;
}

span.required {
  color: #c00;
  font-size: 12px;
  vertical-align: baseline;
  margin-left: 8px;
}
